; ZSNES Configuration file

; Frame Skip = 0 .. 9

FrameSkip = 0

; Auto Frame Skip = 0 or 1 (1 = ON)

AutoFrameSkip = 1

; Player 1/2 Input Device.  Use the GUI to set these values
; NOTE : Using this to select joysticks manually will NOT work!

Player1Device = 1
Player2Device = 0

; Keyboard Scancodes/Joystick Mappings for Keyboard 1 & 2
; In order of Right, Left, Down, Up, Start, Select, B, Y, A, X, L, R
; Use the GUI to set these values

ScanKey1 = 205, 203, 208, 200, 28, 54, 44, 30, 45, 31, 32, 46
ScanKey2 = 209, 211, 207, 199, 26, 27, 38, 37, 25, 24, 23, 36

; Share Player 3 and 4 control inputs with Player 1 and 2 to allow
; 2 devices to be shared on a single player.  This feature automatically
; disables MultiTap (Multiplayer 5) support.  Set this to 1 to enable.

Pl34to12Share = 0

; Percent to Execute [50 .. 150]

Execute = 100

; Video Mode, 0 - 3
;   0 = 256x224 WIN           1 = 256x224 FULL
;   2 = 512x448 WIN           3 = 640x480 FULL

VideoModeLin = 2

; Sound Emulation = 0 or 1 (1 = ON)

Sound = 1

; Sound Sampling Rate
;   0 =  8,000 Hz, 1 = 11,025 Hz, 2 = 22,050 Hz
;   3 = 44,100 Hz, 4 = 16,000 Hz, 5 = 32,000 Hz

SoundRate = 2

; Stereo (0 = off, 1 = on)

Stereo = 0

; Stereo Reversed.  Swaps left channel with right. (0 = off, 1 = L <-> R)

ReverseStereo = 0

; New Graphics Engine (1 = Enable, 0 = Disable)

NewGfx = 1

; Scanlines (0 = Disable, 1 = Full, 2 = 25 3 = 50

Scanlines = 0

; Interpolation (1 = Enable, 0 = Disable)

Interpolation = 0

; Disable Echo  (1 = Yes, 0 = No)

EchoDisable = 0

; Sound Volume Level (0 .. 100)
; Note : Setting this too high can cause sound overflow which degrades quality

Volume = 100

; Set this to 1 if you do not want ZSNES to save the configuration files.

DontSave = 0

; Savefile directory.  Leave it blank if you want the save files to be in the
; same directory as the games.  It should be in a format like : C:\dir\dir

SaveDirectory = 

; Game directory.  This is the directory where the GUI starts at.
; ZSNES automatically writes the current directory here upon exit.

GameDirectory = /Users/bazz/Dropbox/Snes/zsneswv1.36
